<!doctype html>

<title>Hungry Hungry Snails</title>

<body>
  <h1>Hungry Hungry Snails</h1>

  <p>Hungry Hungry Snails is a competitive game intended to be played by individuals writing their own scripts with logic to make decisions for them.</p>

  <h2>Leader Board</h2>

  <table>
    <th>Level</th>
    <th>Name</th>
    <th>Highest Score</th>
    <ul>
        {% for level in data: %}
          {% for player_name in data[level]: %}
            <tr>
              <td>{{ level }}</td>
              <td>{{ player_name }}</td>
              <td>{{ data[level][player_name] }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </ul>
  </table>
</body>